{% macro show_formula(n_var) %}
    {% if n_var == 0 %}
        𝑓(𝑥) = 𝑥³ − 6𝑥² + 𝑥 + 5
    {% elif n_var == 1 %}
        𝑦(𝑥) = 𝑥² − 5𝑥 + 1
    {% elif n_var == 2 %}
        $$ {z(x) = \frac{1}{x^2 + 1}} $$
    {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Построение графика функции</title>
    <link rel="stylesheet" href="main.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
</head>
<body>
<main class="main">
    <form class="function_form">
        <p>Функция:
            <!-- список для выбора: функция 1, функция 2, функция 3 -->
            <select name=func>
                {% for i in range(count_f) %}
                    <!-- если номер варианта совпадает со значением i, устанавливаем атрибут selected -->
                    <!-- атрибут value для каждой строки будет совпадать с i -->
                    {% if n_var == i %}
                        <option selected value={{ i }}> {{ list_f[i] }} </option>
                    {% else %}
                        <option value={{ i }}> {{ list_f[i] }} </option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
        <p>Начало интервала:
            <input type=text name=beg_i value={{ a }} size=1>
        </p>
        <p>Конец интервала:
            <input type=text name=end_i value={{ b }} size=1>
        </p>
        <p>Количество значений:
            <input type=text name=count_p value={{ n }} size=1>
        </p>
        <p>
            <input type=submit value="Построить">
        </p>
    </form>
    <p class="function__formula">
        <!-- в зависимости от номера вариант вывести функцию -->
        {{ show_formula(n_var) }}
    </p>
    {{ template.render(x=x, y=y, pict=pict, len=len, round=round) }}
</main>
</body>
</html>